*{
    font-family: "Inter Tight"
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgrey;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    max-width: 100%;
}

main{
    width: 70vw;
    height: 50vh;
    background-color: #fae4cd;
    border-radius: 1.5rem;
    text-align: center;
    padding: auto auto;
}

a{
    text-decoration: none;
    padding: 0 1rem 0;
    color: #000;
}

h1{
    font-size: 4rem;
    margin: 6rem auto;
}

h2{
    text-align: left;
    justify-content: left;
    margin: 1rem 4rem;
}

h3{
    font-weight: 500;
}

.with-search-tab{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.8rem;
    width: 90%;
    margin: 1rem 4rem;
}

.section-left{
    display: flex;
}

.section-middle{
    display: flex;
}

.section-right{
    display: flex;
}

.without-search-tab{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.8rem;
    width: 90%;
    margin: 1rem 4rem;
}